body {
	background: black;
}

/*------------------------------------------------------ Personalisation Balise ------------------------------------------------------*/
h1 {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: white;
}

pre {
	background:black;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: white;
}

a {
	color: #e6b800;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background: #e6b800;
	color: black;
}

/*-------------------------------------------------------- Personalisation id --------------------------------------------------------*/
#header-margin-top {
	margin-top: 20px;
}

#main-margin-top {
	margin-top: 25px;	
}

#footer-margin-top {
	margin-top: 20px;
}

#footer {
	text-align: center;
}

#content-footer {
	margin-top: 15px;
}

#prompt {
	width: 10px;
	height: 16px;
	background-color: #e6b800;
    animation-name: prompt;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes prompt {
    0%   {background-color: #e6b800;}
    50%  {background-color: black;}
    100%  {background-color: #e6b800;}
}

/*------------------------------------------------------ Personalisation Classe ------------------------------------------------------*/
.sonic-pi {
	color: #cc0066;
}

.dashed-up-border {
	border-style: dashed none none none;
	border-color: white;
}

.blue {
	color: blue;
}

.t1{
	background:yellow;
}

.t2{
	background:red;
}